<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{method}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
  *ngIf="name !== 'spiderman'"
  class="btn btn-primary mx-2"
  (click)="changeName('spiderman')">
  Cambiar nombre
</button>

<button
  *ngIf="age !== 24"
  class="btn btn-primary"
  (click)="changeAge(24)">
  Cambiar Edad
</button>

<button
  class="btn btn-danger"
  (click)="resetForm()">
  Reset
</button>
